<div class="container">
    <div class="row">
        <img class="img" src="/images/beer.png" alt="beerpic">
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary"><a href="/beers">Check the Beers!</a></button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary"><a href="/random-beers">Check a Random Beer!</a></button>
    </div>
</div>